<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="consumos"></ion-back-button>
    </ion-buttons>
    <ion-title>Llamadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <app-date-piker-start-end [rango]="15" (startDate)="getStart($event)" (startDate)="getEnd($event)">
    </app-date-piker-start-end>

    <ion-list>
      <ion-list-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>Fecha y Hora</div>
            </ion-col>
            <ion-col>
              <div>Destino</div>
            </ion-col>
            <ion-col>
              <div>Duración</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list-header>
      <ion-item *ngFor="let llamada of llamadas">
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-left">
              <div>{{ llamada.eventDateTime }}</div>
            </ion-col>
            <ion-col class="ion-text-center">
              <div>{{ llamada.targetNumber }}</div>
            </ion-col>
            <ion-col class="ion-text-right">
              <div>{{ llamada.eventDuration }}</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>