<app-header></app-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Llamadas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <a [routerLink]="['llamadas']">Ver Detalles</a>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title>mensajes</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <a [routerLink]="['mensajes']">Ver Detalles</a>
        </ion-card-content>
    </ion-card>

</ion-content>