<app-header (selectedLine)='onSelectedLine($event)'></app-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-toolbar>
                <ion-card-title color="primary">Llamadas</ion-card-title>
                <ion-buttons slot="end">
                    <ion-button>
                        <ion-icon name="phone-portrait"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-card-header>
        <ion-card-content>
            <a [routerLink]="['llamadas']">{{ 'Ver Detalles' | uppercase }}</a>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-toolbar>
                <ion-card-title color="primary">Mensajes</ion-card-title>
                <ion-buttons slot="end">
                    <ion-button>
                        <ion-icon name="mail"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-card-header>
        <ion-card-content>
            <a [routerLink]="['mensajes']">{{ 'Ver Detalles' | uppercase }}</a>
        </ion-card-content>
    </ion-card>

</ion-content>