<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button>
      <ion-icon name="alert"></ion-icon>
      <ion-label>Factura</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="consumos">
      <ion-icon name="pie" color="secondary"></ion-icon>
      <ion-label color="secondary">Consumos</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="alert"></ion-icon>
      <ion-label>Servicios</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="alert"></ion-icon>
      <ion-label>Compras</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="alert"></ion-icon>
      <ion-label>Más</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>