<ion-list>
    <ion-list-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>Fecha y Hora</div>
          </ion-col>
          <ion-col>
            <div>Destino</div>
          </ion-col>
          <ion-col>
            <div>Duración</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list-header>
    <ion-item *ngFor="let call of calls">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-left">
            <div>{{ call.eventDateTime }}</div>
          </ion-col>
          <ion-col class="ion-text-center">
            <div>{{ call.targetNumber }}</div>
          </ion-col>
          <ion-col class="ion-text-right">
            <div>{{ call.eventDuration }}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>